.sort-con{
  overflow: hidden;
}
.sort-con .sort-item{
  float: left;
  position: relative;
  display: inline-block;
  margin-right: -1px;
  padding: 0 8px;
  height: 24px;
  border: 1px solid #CCC;
  color: #333;
  background: #FFF;
  cursor: pointer;
}
.sort-con .sort-item.active{
  color: #FFF;
  background: #C60023;
  border: 1px solid #C60023;
}
.sort-con .sort-item .fa-sort-desc{
  position: absolute;
  top: 6px;
  right: 8px;
}
.sort-con .sort-item.asc .fa-sort-desc{
  opacity: .6;
}
.sort-con .sort-item.desc .fa-sort-asc{
  opacity: .6;
}

/* 列表 */
.p-list-con{
  margin-top: 15px;
  margin-right: -20px;
  overflow: hidden;
}
.p-list-con .p-item{
  position: relative;
  margin: 0 20px 20px 0;
  padding: 10px 10px 0 10px;
  float: left;
  width: 180px;
  background: #FFF;
}
.p-list-con .p-item .p-img-con{
  width: 180px;
  height: 180px;
}
.p-list-con .p-item .p-img-con .p-img{
  text-align: center;
  margin-left: 18px;
  width: 80%;
  height: 80%;
}
.p-list-con .p-item .p-price-con{
  margin-top: 4px;
  height: 20px;
  line-height: 20px;
}
.p-list-con .p-item .p-price{
  font-size: 16px;
  color: #E7380D;
}
.p-list-con .p-item .p-name-con{
  height: 40px;
  overflow: hidden;
}
.p-list-con .p-item .p-name{
  margin-bottom: 10px;
  line-height: 10px;
  font-size: 10px;
  color: #666;
  text-decoration: none;
}
.p-list-con .p-item .p-name:hover{
  color: #C60023;
}
/* 错误提示 */
.err-tip{
  padding: 0 10px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  color: #F60;
  font-weight: bold;
  text-align: center;
  background: #EEE;
}
