<!DOCTYPE html>
<html lang="en">
<head>
<%= require('html-loader!./layout/head-common.html') %>
<title><%= htmlWebpackPlugin.options.title %> -- Sugar小甜街</title>
</head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <%= require('html-loader!./layout/header.html') %>
  <div class="crumb">
      <div class="crumb-con">
        <div class="w">
        <a href="./index.html" class="link">MMall</a>
        <span>>></span>
        <span class="link-text">订单信息</span>
        </div>
      </div>
    </div>
    <div class="page-wrap w">
      <div class="panel">
        <h1 class="panel-title">关于我们</h1>
        <div class="panel-body">
          这是一名学生做的第一个网站,请多多指教~
        </div>
        <div class="panel-avater">
          <img class="panel-img" src="<#= require('../image/avater/avater.jpg')>" alt="">
        </div>
      </div>
      </div>
    </div>
  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>
